:root {
    --num-white-keys: 36;
    --white-key-width: 25;
    --white-key-height: 120;
    --piano-key-white-color: #eee; 
    --piano-key-black-color: #111; 
    --piano-key-black-color-hover: #000; 
}

.title {
    font-family: 'Cinzel Decorative', serif;
}

.page {
    height: 100vh;
}

.page:nth-child(1) {
    color: #fff;
    background-color: #0f0c2d
}

.page:nth-child(2) {
    color: #fff;
    background-color: #0c1c2d;
}

.piano {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
    gap: 4rem;
}

.piano-controls {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.piano-renderer {
    display: flex;
    flex-direction: column;
    width: calc(var(--white-key-width) * var(--num-white-keys) * 1px);
    background-color: #222;
    /* background: radial-gradient(#000 0%, #002 100%); */
    border: 1px solid #888;

    height: 500px;
}

.piano-notes {
    flex-grow: 1;
}

.piano-keys {
    height: calc(var(--white-key-height) * 1px);
    position: relative;
}

.piano-keys-white, .piano-keys-black {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.piano-keys-black {
    left: calc(var(--white-key-width) / 2 * 1px);
}

.piano-keys-white > button {
    height: calc(var(--white-key-height) * 1px);
    width: calc(var(--white-key-width) * 1px);
    background-color: var(--piano-key-white-color);
    border: 1px solid var(--piano-key-black-color-hover);
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.piano-keys-white > button:hover {
    opacity: 0.8;
}

.piano-keys-black > button[data-note]:hover {
    background-color: var(--piano-key-black-color-hover);
}

.piano-keys-black > button:not([data-note]) {
    pointer-events: none;
    opacity: 0;
}

.piano-keys-black > button {
    height: calc(var(--white-key-height) / 2 * 1px);
    width: calc(var(--white-key-width) * 1px);
}

.piano-keys-black > button[data-note] {
    background-color: var(--piano-key-black-color);
    border: 1px solid white;
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

#score {
    background-color: #eaeaea;
}
